#about {
    padding-top: 20px;
    background-image: url("assets/backgrounds/bar43-gradientOverlay_2.jpg");
    background-size:100% 100%;
    height:930px;
    background-repeat: no-repeat;

    .about-text {
        font-family: 'Alegreya Sans SC', sans-serif !important;
        color:white;
        height: 1000px;
        line-height: 1000px;
        vertical-align: center;
    }

   h1 {
     text-align: justify;
   }

   p {
     text-align: justify;
   }

    .page-header  {
        color:white;
        font-family: 'Alegreya Sans SC', sans-serif !important;
        height: 1000px;
        line-height: 1000px;
        vertical-align: center;
    }

    .page-header-image {
        background-image: url('assets/backgrounds/bar43-gradientOverlay_2.png');
        background-size:100% 100%;
        height:1000px;
        background-repeat: no-repeat;
    }
}
