.footer {
    padding-top: 20px;
    padding-bottom: 10px;
    color: white !important;
    background-color: black;

    .footer-brand {
        img {
            height: 100%;
            width: 150px;
        }
        cursor: pointer;
        margin-left: 10px;
        margin-top: -10px;
    }

    .footer-item {
        padding: 0 10px;
    }

    .google-maps {
        position: relative;
        padding-bottom: 55%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 40% !important;
        height: 40% !important;
        padding: 20px;
    }
}

