//Your default styles can go in here, variables and such that will be used globally.
@import 'colors.scss';

body {
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
    margin: 0;
    background-color:#34546d;
}


.inline {
    display: inline-grid;
}

.lighter {
    font-weight: lighter
}

.title {
    font-size: 24px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

.page-host {
    overflow-x: hidden;
    overflow-y: auto;
}

@media print {
    .page-host {
        position: absolute;
        left: 10px;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: inherit;
        overflow-x: inherit;
    }
}

#footer {
    background-color: black;
    color: white !important;
    padding: 40px;
    text-align: center;
    .image {
        margin-bottom: 20px;
    }

    .au-target {
        height: 40px;
        font-size: 18px;
    }

    .head {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .social {
        img {
            width: 40px;
            margin: 10px;
        }
    }
}
