#home {
    padding-top: 20px;
    color: black;
    background-image: url("assets/backgrounds/backgroundPour.png");
    background-size:100% 100%;
    height:1030px;
    background-repeat: no-repeat;

    .ArticleCopy{
      font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
      width: 50%;
      margin:55px left;
      vertical-align: middle;
      padding: 3rem;
    }
    .ArticleCopy p {
        text-rendering: optimizeLegibility;
    }
    .ArticleCopy blockquote {
        border-radius: 3px;
        position: relative;  /*  <--- */
        vertical-align: center;
        text-align: center;
        padding: 1rem 1.2rem;
        width: 80%;  /* create space for the quotes */
        color: #4a4a4a;
        margin: 45rem auto 2rem;
        color: #4a4a4a;
        background: #E8E8E8;
        opacity: 50%;
    }
}
