#events {
    .column {
      float: left;
      width: 50%;
      padding: 10px;
    }

    .column img {
      margin-top: 12px;
    }

/* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .cover-container {
        height: 180px;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .cover-item {
        position: relative;
        display: inline-block;
        margin: 8px 8px;
        box-shadow: 2px 2px 4px #bbb;
        border-top-right-radius: 4px;
        width: 116px;
        height: 158px;
        vertical-align: bottom;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .iframeWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 45px;
        height: 100%;
        width: 100%;
    }

    .iframeWrapper iframe {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
