nav {
    height: 100px;
}

.navbar {
    padding-top: 10px;
   // padding-bottom: 10px;
    position: fixed;
    color: orange !important;
    background-image: url("assets/backgrounds/woodBanner.jpeg");
    transition: top 0.3s;

    .navbar-brand-container {
        height: 100%;
        .navbar-brand {
            display: unset !important;
            .logo {
                height: 100%;
            }

            cursor: pointer;
            margin-left: 10px;
            margin-top: -10px;
        }
    }

    .nav-item {
        color: black;
    //    padding: 10px;
    }

    .navbar-nav .nav-link:not(.btn) {
        text-transform: uppercase;
        font-size: 1.2142em;
        padding: 0.5rem 0.7rem;
        line-height: 1.625rem;
        color: black;
    }

    #navbar a {
      float: left;
      display: block;
      color: orange;
      text-align: center;
      padding: 15px;
      text-decoration: none;
    }

    #navbar a:hover {
      background-color: #ddd;
      color: black;
    }

    .bg {
        min-height: 70vh;
        background-image: url('assets/salty-dog-wood.jpg');
        background-size: cover;
        background-position: center;
    }

    .sticky-top {
        transition: all 0.25s ease-in;
    }

    /* style for when sitcky is applied */
    .stuck .sticky-top {
        background-color: orange !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }

}
