.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    color: white !important;
    background-color: black;
    transition: top 0.3s;

    .navbar-brand {
        img {
            height: 100%;
            width: 150px;
        }
        cursor: pointer;
        margin-left: 10px;
        margin-top: -10px;
    }

    .nav-item {
        color: black;
        padding: 10px;
    }

    .navbar-nav .nav-link:not(.btn) {
        text-transform: uppercase;
        font-size: 1.2142em;
        padding: 0.5rem 0.7rem;
        line-height: 1.625rem;
    }

    #navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
    }

    #navbar a:hover {
      background-color: #ddd;
      color: black;
    }
}
