nav {
    height: 120px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px !important;
    position: fixed;
    background-color: white !important;
    //background-image: url("assets/backgrounds/wave2.png") ;
    background-size: 200px 15px;
    background-repeat: repeat-x;
    background-position: 100% 20%;
    transition: top 0.3s;
    margin-bottom: 0px;

    .bg-lite {
        background-color: white !important;
    }

    .navbar-brand-container {
        height: 100%;
        .navbar-brand {
            display: unset !important;
            .logo {
                height: 100%;
            }

            cursor: pointer;
            margin-left: 40px;
            margin-top: -10px;
        }
    }

    .nav-item {
        color: black;
    //    padding: 10px;
    }

    .navbar-nav .nav-link:not(.btn) {
        text-transform: uppercase;
        font-size: 1.3142em;
        padding: 1.8rem 1.9rem;
        line-height: 1.625rem;
        color: #15254A;
    }

    #navbar a {
      float: left;
      display: block;
      color: orange;
      text-align: center;
      padding: 15px;
      text-decoration: none;
    }

    #navbar a:hover {
      background-color: #white;
      color: black;
    }

    .bg {
        background-color: white !important;
        min-height: 70vh;
        //background-image: url('assets/salty-dog-wood.jpg');
        background-size: cover;
        background-position: center;
    }

    .sticky-top {
        transition: all 0.25s ease-in;
    }

    /* style for when sitcky is applied */
    .stuck .sticky-top {
        background-color: orange !important;
        padding-top: 3px !important;
        padding-bottom: 0px !important;
    }

}
